
<div class="container-fluid">
    <div >
        <img class="header-img"src="./assets/images/medline-logo-105.png">
    </div>
    <div class="form-heading">
        <p>MEDLINE.COM</p>
        <h3> Account Registration</h3>
    </div>
    <div class="">
        <p class="userInfo">USER INFORMATION</p>
        <form #form="ngForm" (ngSubmit)="onSubmit(form,template)">
            <div [hidden]="!form.submitted || form.valid" class="alert alert-danger">Please review errors.</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label name="firstName">FIRST NAME*</label>
                        <input id="firstName" name="firstName" placeholder="" class="form-control"
                         #firstNameField="ngModel" ngModel required [class.no-input]="form.submitted && firstNameField.invalid"/>
                        <div [hidden]="!form.submitted || firstNameField.valid" class="alert alert-danger">First Name is a required field.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label name="lastName">LAST NAME*</label>
                        <input id="lastName" name="lastName" placeholder="" class="form-control" #lastNameField="ngModel" ngModel required [class.no-input]="form.submitted && lastNameField.invalid">
                        <div [hidden]="!form.submitted || lastNameField.valid" class="alert alert-danger">Last Name is a required field.</div>
                    </div>
                </div>
            </div>
            <div class= "row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                        <div class="form-group">
                            <label name="phone">PHONE*</label>
                            <input id="phone" name="phone" placeholder="" class="form-control" #phoneField="ngModel" ngModel required [class.no-input]="form.submitted && phoneField.invalid"/>
                            <div [hidden]="!form.submitted || phoneField.valid" class="alert alert-danger">Phone is a required field.</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label name="ext">Ext</label>
                            <input id="ext" name="ext" placeholder="" class="form-control" ngModel/>
                        </div>
                    </div>
                </div>                


            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label name="email">EMAIL*</label>
                    <input id="email" name="email" placeholder="" class="form-control" #emailField="ngModel" ngModel required [class.no-input]="form.submitted && emailField.invalid"/>
                    <div [hidden]="!form.submitted || emailField.valid" class="alert alert-danger">Email is a required field.</div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class='btn btn-success position-next'>NEXT</button>
        </div>
        </form>

    </div>

    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">USER Information</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>User has been created successfully with the below details</p>
          <div>
              <div class="container-fluid">
                  <div >
                      <div>
                            <span class="heading">User Name:</span>
                            <span  class="value">{{form.value.firstName}}  {{form.value.lastName}}</span>
                     </div>
                     <div>
                        <span class="heading">Email:</span>
                        <span  class="value">{{form.value.email}}</span>
                    </div>
                    <div>
                        <span class="heading">Phone:</span>
                        <span  class="value">{{form.value.phone}}</span>
                    </div>
                    <div class="atCenter">
                        <button class="btn btn-success "   (click)="modalRef.hide()">OK</button>
                    </div>

                  </div>
              </div>
          </div>
        </div>
      </ng-template>
   


